span{
    font-weight: bold;
}

#content{
    width: 800px;
    margin: auto;
}

body{
    background-color:rgb(167, 153, 153);
}

.szamok
{
    font-weight: bold;
    color: yellow;
}

.lap
{
    font-variant: small-caps;
}

p, li{
    text-align: justify;
}

.container{
    margin: 20px;
}

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  

  a:hover {
    color: red;
  }

  .kep{
    margin: 20px;
  }